<div class="page-notify">
	<div class="notify-container">
		<div class="notify-form">
			<div class="logo-text">Fyttle</div>
			<div class="message">
				Insert propaganda here
				<br/><br/>
				Sign up when to be notified when Fyttle launches!
			</div>
			<br/>
			<input type="text" class="form-control" data-bind="value: email" placeholder="Enter Email Here"/>
			<br/>
			<input type="text" class="form-control" data-bind="value: zipCode" placeholder="Zip (optional)"/>
			<br/>
			<input type="text" class="form-control" data-bind="value: age" placeholder="Age (optional)"/>
			<br/>
			<button type="button" class="btn btn-primary">Notify Me</button>
			<br/><br/>
		</div>
	</div>
</div>