
/*********************************
/* Solid Colors
*********************************/
@color-white: #fff;
@color-off-white: #efefef;
@color-lighter-gray: #ddd;
@color-light-gray: #aaa;
@color-gray: #999;
@color-dark-gray: #666;
@color-darker-gray: #333;
@color-black: #000;

@body-bg: @color-white;

@brand-color-1: #3360a7;
@brand-color-2: #3771c7;


/*********************************
/* RGBA Colors
*********************************/

@rgba-medium-white : rgba(255,255,255,.6);

@rgba-heavy-light-gray : rgba(150,150,150,.8);
@rgba-faint-light-gray : rgba(150,150,150,.17);

@rgba-medium-steel-blue : rgba(0, 50, 150, .4);


/*********************************
/* Font-Sizes
*********************************/
@font-size-smallest: 10px;
@font-size-smaller: 12px;
@font-size-small: 14px;
@font-size-medium: 16px;
@font-size-large: 20px;
@font-size-larger: 24px;
@font-size-largest: 32px;

/*********************************
/* Borders
*********************************/
@default-border-color: @color-gray;
@default-border-radius: 4px;
	
/*********************************
/* Globals
*********************************/
@media-max-width-value: 768px;

// Alert Global Variables 
	@alert-error-font-color: #f23;
	@alert-error-background-color: rgba(255,200,200,.9);
	@alert-error-border-color: #d23;

	@alert-success-font-color: #549254;
	@alert-success-background-color: rgba(200,255,200,.9);
	@alert-success-border-color: #22b329;

	@alert-info-font-color: #883;
	@alert-info-background-color: #ee6;
	@alert-info-border-color: @alert-info-font-color;

// Generic Global Variables
	@default-background-color: @color-white;

	@default-input-border-radius: 3px;
	@default-input-border: 1px solid @color-light-gray;


/*********************************
/* Partials
*********************************/

/*********************************
/* Sections
*********************************/

// content items ( links to a users file )
	@default-content-item-hover-bg-color: @brand-color-2;
	@default-content-item-selected-bg-color: @brand-color-1;