doctype html
html(lang="en", xmlns="http://www.w3.org/1999/xhtml")
	head
		title title

		<!--Application CSS Files-->
		each cssFile, i in cssFiles
			link(rel="stylesheet", href=cssFile)
		
		<!--Application JavaScript Files-->
		each jsFile, i in jsFiles
			script(type="text/javascript", src=jsFile)

	body(class="gymme")
		section(class="content")
			block content
